.profile-header {
    font-size: 40px;
    font-weight: bold;
  }
  
  .profile-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .profile-text1 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    color: green;
  }
  